[user]
    name = Evan Goer
    email = egoer@apple.com
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
[color]
    ui = auto
[push]
	default = simple
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[init]
	defaultBranch = main
